<!-- Top Section -->
<main class="page mt-5">
  <section class="shopping-cart dark">
    <div class="container">
      <div class="block-heading">
        <h2>Shopping Cart</h2>
        <p>Best Products, High Quality, Fair Price.</p>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <!-- Empty Cart Section Start-->
            <div class="items">
              <div class="container" *ngIf="cartItems.length == 0">
                <div class="d-flex justify-content-center mt-5 pt-5">
                  <div class="p-2">
                    <h4 class="mt-2">Your cart is empty!</h4>
                  </div>
                  <div class="p-2">
                    <button routerLink="/products" class="btn btn-primary">
                      Shop Now
                    </button>
                  </div>
                </div>
              </div>
              <!-- Empty Cart Section End-->
              <!--  Cart items  Start-->
              <div class="product" *ngFor="let item of cartItems; index as i">
                <div class="row">
                  <div class="col-md-3">
                    <img
                      class="img-fluid mx-auto d-block image"
                      src="{{ item.image }}"
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="info">
                      <div class="row">
                        <div class="col-md-5 product-name">
                          <div class="product-name">
                            {{ item.title }}
                            <div class="product-info">
                              <div>
                                Description:
                                <span class="value">{{
                                  item.description
                                }}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3 quantity">
                          <label for="quantity">Quantity:</label>
                          <input
                            id="quantity"
                            type="number"
                            value="1"
                            class="form-control quantity-input"
                            (change)="quantity($event, i)"
                          />
                        </div>
                        <div class="col-md-3 price">
                          <span>${{ item.total | number }}</span>
                        </div>
                        <div class="col-md-1">
                          <button
                            (click)="removeItem(item)"
                            class="btn btn-danger"
                            style="margin-left: 10%"
                          >
                            <i class="fas fa-trash-alt"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--  Cart items  End-->
          <!--  Checkout and Total Price Section -->
          <div class="col-md-12 col-lg-4">
            <div class="summary">
              <h3>Summary</h3>
              <div class="summary-item">
                <span class="text">Subtotal</span
                ><span class="price">${{ grandTotal | number }}</span>
              </div>
              <div class="summary-item">
                <span class="text">Discount</span
                ><span class="price">36% Off</span>
              </div>
              <div class="summary-item">
                <span class="text">Shipping</span
                ><span class="price">Free Shipping</span>
              </div>
              <div class="summary-item">
                <span class="text">Total</span
                ><span class="price">${{ grandTotal | number }}</span>
              </div>
              <button
                type="button"
                class="btn btn-primary btn-lg btn-block"
                (click)="checkout()"
              >
                Checkout
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
