<!-- Category section -->
<div style="
    background-color: #2f4353;
background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
  " class="mh-100">
    <div class=" container-fluid" style="margin-top:70px;background-color: white;">
        <div class="container d-flex">
            <div class="item">
                <button style="border: none; background: none" (click)="categoryFilterHandler('')">
                    <h6>All Clothing</h6>
                </button>
            </div>
            <div class="item">
                <button style="border: none; background: none" (click)="categoryFilterHandler('mens clothing')">
                    <h6>Men's Clothing</h6>
                </button>
            </div>
            <div class="item">
                <button style="border: none; background: none" (click)="categoryFilterHandler('womens clothing')">
                    <h6>Women's Clothing</h6>
                </button>
            </div>
        </div>
    </div>

    <!-- Products-->
    <div class="container mx-auto mt-4">
        <div class="row">
            <ng-container *ngFor="let item of filterCategory | filterHandler: searchKey:'title'">
                <div class="col-md-4">
                    <div class="card" style="width: 18rem">
                        <img src="{{ item.image }}" alt="" />
                        <h5 style="
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 100ch;
              ">
                            <button style="border: none; background: none" (click)="onSelect(item)">
                                {{ item.title }}
                            </button>
                        </h5>
                        <p style="
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 100ch;
              ">
                            {{ item.description }}
                        </p>
                        <!-- 1 den 5 e kadar sıralı array gönderiliyor db den gelen değer küçükse dolu yıldız boşsa boş yıldız bu sayede puanı gösteriyor -->
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item" *ngFor="let star of star">
                                <i [class]="
                    item.star >= star
                      ? 'fa fa-star text-dark'
                      : 'fa fa-star-o text-gray'
                  "></i>
                            </li>
                        </ul>
                        <p><strong>Price:</strong> ${{ item.price }}</p>
                        <button type="button" class="btn btn-outline-dark" (click)="addtocart(item)">
                            Add to cart
                        </button>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>