<!-- Category section -->
<body data-new-gr-c-s-check-loaded="14.1055.0" data-gr-ext-installed="">



    <div style="
      margin-top: 45px;
      background-color: #2f4353;
      background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
    ">
     

        <!-- Products-->

        <section class="container padding-y">
            <div class="row">
                <aside class="col-lg-3">
                    <button class="btn btn-outline-secondary mb-3 w-100 d-lg-none" data-bs-toggle="collapse"
                        data-bs-target="#aside_filter">
                        Show filter
                    </button>

                    <!-- ===== Card for sidebar filter ===== -->
                    <div id="aside_filter" class="collapse card d-lg-block mb-5">
                        <article class="filter-group">
                            <header class="card-header">
                                <a href="#" class="title" data-bs-toggle="collapse" data-bs-target="#collapse_aside1">
                                    <i class="icon-control fa fa-chevron-down"></i> Related items
                                </a>
                            </header>
                            <div class="collapse show" id="collapse_aside1">
                                <div class="card-body">
                                    <ul class="list-menu">
                                        <li>
                                            <button style="border: none; background: none" class="category"
                                                (click)="categoryFilterHandler('')">
                                                <h6>All Products</h6>
                                            </button>
                                        </li>

                                        <li>
                                            <button style="border: none; background: none"class="category"
                                                (click)="categoryFilterHandler('coffee')">
                                                <h6>Coffee</h6>
                                            </button>
                                        </li>
                                        <li>
                                            <button style="border: none; background: none"class="category"
                                                (click)="categoryFilterHandler('coffeeaccessories')">
                                                <h6>Coffee Accessories</h6>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                                <!-- card-body.// -->
                            </div>
                            <!-- collapse.// -->
                        </article>
                        <!-- filter-group // -->
                        <article class="filter-group">
                            <header class="card-header">
                                <a href="#" class="title" data-bs-toggle="collapse"
                                    data-bs-target="#collapse_aside_brands">
                                    <i class="icon-control fa fa-chevron-down"></i> Brands
                                </a>
                            </header>
                            <div class="collapse show" id="collapse_aside_brands">
                                <div class="card-body">
                                    <ng-container *ngFor="let item of uniqueBrands" >
                                    <label class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox" value="{{item}}"  (change)="brandFilter($event)" />
                                        <span class="form-check-label"> {{item}} </span>
                                    </label> 
                                </ng-container>
                                    <!-- form-check end.// -->
                                </div>
                                <!-- card-body .// -->
                            </div>
                            <!-- collapse.// -->
                            
                        </article>
                        <!-- temizle butonu eklenecek eventle tetiklenecek pricefilter -->
                        <article class="filter-group">
                            <header class="card-header">
                                <a href="#" class="title" data-bs-toggle="collapse" data-bs-target="#collapse_aside2">
                                    <i class="icon-control fa fa-chevron-down"></i> Price
                                </a>
                            </header>
                            <div class="collapse show" id="collapse_aside2">
                                <div class="card-body">
                                    <div class="row mb-3">
                                        <div class="col-6">
                                            <label for="min" class="form-label">Min</label>
                                            <input class="form-control" id="min" placeholder="$0" type="number" #min />
                                        </div>
                                        <!-- col end.// -->

                                        <div class="col-6">
                                            <label for="max" class="form-label">Max</label>
                                            <input class="form-control" id="max" placeholder="$1,000" type="number"
                                                #max />
                                        </div>
                                        <!-- col end.// -->
                                    </div>
                                    <!-- row end.// -->
                                    <button class="btn btn-light w-100" type="button"
                                        (click)="priceFilter(min.value, max.value)">
                                        Apply
                                    </button>
                                    <button class="btn btn-light w-100" type="button" (click)="priceFilter(0, 10000)">
                                        Reset
                                    </button>
                                </div>
                                <!-- card-body.// -->
                            </div>
                            <!-- collapse.// -->
                        </article>
                        <!-- filter-group // -->

                        <article class="filter-group">
                            <header class="card-header">
                                <a href="#" class="title" data-bs-toggle="collapse" data-bs-target="#collapse_aside4">
                                    <i class="icon-control fa fa-chevron-down"></i> Ratings
                                </a>
                            </header>
                            <div class="collapse show" id="collapse_aside4">
                                <form class="card-body" >

                                    <div class="form-check" >
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"checked value="1" (change)="starFilter($event)">
                                       <span class="form-check-label">
                                            <ul class="rating-stars">
                                                <li>  <i class="fa fa-star text-dark"></i>
                                                    All Items</li>
                                            </ul>
                                        </span>
                                      </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="2"(change)="starFilter($event)">
                                       <span class="form-check-label">
                                            <ul class="rating-stars">
                                                <li>  <i class="fa fa-star text-dark"></i>
                                                    <strong>4+</strong>Star</li>
                                            </ul>
                                        </span>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="3"(change)="starFilter($event)">
                                        <span class="form-check-label">
                                            <ul class="rating-stars">
                                                <li>  <i class="fa fa-star text-dark"></i>
                                                    <strong>3-3.9+</strong>Star</li>
                                            </ul>
                                        </span>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="4" (change)="starFilter($event)">
                                        <span class="form-check-label">
                                            <ul class="rating-stars">
                                                <li>  <i class="fa fa-star text-dark"></i>
                                                    <strong>0-2.9+</strong>Star</li>
                                            </ul>
                                        </span>
                                    </div>
                                    <!-- form-check end.// -->
                                </form>
                                <!-- card-body.// -->
                            </div>
                            <!-- collapse.// -->
                        </article>
                        <!-- filter-group // -->
                    </div>
                    <!-- card.// -->
                    <!-- ===== Card for sidebar filter .// ===== -->
                </aside>
                <!-- col .// -->
                <main class="col-lg-9">
                    <div id="carouselExampleControls" class="carousel slide mb-2" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="https://img.freepik.com/free-vector/espresso-coffee-cup-coffee-beans_79603-1038.jpg?t=st=1649253188~exp=1649253788~hmac=0e5228440c23bfc4fde6b914d9826fbd350242abc980c3562b77cc011da7b2e5&w=1380" class="d-block w-100" height="400px" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="https://cdn.pixabay.com/photo/2016/11/29/12/54/cafe-1869656_960_720.jpg" class="d-block w-100" height="400px"alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="https://st3.depositphotos.com/9881890/14561/i/450/depositphotos_145612499-stock-photo-cups-of-fresh-made-coffee.jpg" class="d-block w-100" height="400px"alt="...">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                    <header class="d-sm-flex align-items-center border-bottom mb-3 pb-2">
                        <strong class="d-block pt-2">Result:
                            {{ (filteredProducts| filterHandler: searchKey:'title').length }} items found
                        </strong>
                        <div class="ms-auto">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off"  (click)="viewHandler('list')">
                                <label class="btn btn-success" for="option1"><i class="fa fa-bars"></i></label>

                                <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off" checked (click)="viewHandler('grid')">
                                <label class="btn btn-success " for="option2"><i class="fa fa-th"></i></label>

                               
                            </div>
                            <!-- btn-group end.// -->
                        </div>
                    </header>
                    
                    <div *ngIf=" filteredProducts.length === 0">
                        <span><strong>There are no products that match your search, try something else.</strong> </span>
                      </div>
                    <!-- ========= content items ========= -->
                    <div class="row" *ngIf="viewGrid">
                        <!-- products -->
                        <ng-container *ngFor="
                    let item of  filteredProducts| filterHandler: searchKey:'title'
                            ">
              
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <figure class="card card-product-grid">
                                    <div class="img-wrap pt-2 grid">
                                        <img src="{{ item.image }}" />
                                    </div>
                                    <figcaption class="info-wrap border-top">
                                        <div class="price-wrap">
                                            <strong class="price"> ${{ item.price }}</strong>
                                            <del class="price-old">$170.00</del>
                                        </div>
                                        <ul class="list-group list-group-horizontal title" >
                                            <li class="list-group-item" *ngFor="let star of star"style="width: 50px;">
                                              <i
                                                [class]="
                                                  item.star >= star
                                                    ? 'fa fa-star text-success'
                                                    : 'fa fa-star-o text-gray'
                                                "
                                              ></i>
                                            </li>
                                          </ul>
                                        <!-- price-wrap.// -->
                                        <button style="border: none; background: none;text-align: left;" (click)="onSelect(item)" class="productid">
                                          <span >{{item.brand}} {{ item.title }}</span>
                                        </button>
                                        <p class="title mb-2" style="
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 100ch;
                      ">
                                            {{ item.description }}
                                        </p>

                                        <button type="button" class="btn btn-outline-dark" (click)="addtocart(item)">
                                            Add to cart
                                        </button>
                                    </figcaption>
                                </figure>
                            </div>
                            <!-- col end.// -->
                        </ng-container>
                    </div>
                    <!-- row end.// -->
                    <div class="row" *ngIf="!viewGrid">
                        <!-- products -->
                        <div *ngIf=" filteredProducts.length === 0">
                            <span><strong>There are no products that match your search, try something else.</strong> </span>
                          </div>
                        <ng-container *ngFor="
                let item of  filteredProducts| filterHandler: searchKey:'title'
              ">
             
              <article class="card card-product-list">
                <div class="row g-0">
                  <aside class="col-xl-3 col-md-4">
                    <a href="#" class="img-wrap"> <img src="{{ item.image }}"> </a>
                  </aside> <!-- col.// -->
                  <div class="col-xl-6 col-md-5 col-sm-7">
                    <div class="card-body">
                      <a href="#" class="title h5">{{item.brand}} {{ item.title }} </a>
          
                      <div class="rating-wrap mb-2">
                        <ul class="rating-stars">
                          <li class="stars-active" style="width: 90%;">
                            <img src="" alt="">
                          </li>
                          <li> <img src="" alt=""> </li>
                        </ul>
                        <span class="label-rating text-warning"><ul class="list-group list-group-horizontal title" >
                            <li class="list-group-item" *ngFor="let star of star"style="width: 50px;">
                              <i
                                [class]="
                                  item.star >= star
                                    ? 'fa fa-star text-success'
                                    : 'fa fa-star-o text-gray'
                                "
                              ></i>
                            </li>
                          </ul></span>
                      </div> <!-- rating-wrap.// -->
                      <p>{{ item.description }}</p>
                    </div> <!-- card-body.// -->
                  </div> <!-- col.// -->
                  <aside class="col-xl-3 col-md-3 col-sm-5">
                    <div class="info-aside">
                      <div class="price-wrap">
                        <span class="price h5">${{ item.price }}</span>  
                        <del class="price-old"> $198</del>
                      </div> <!-- info-price-detail // -->
                      <p class="text-success">Free shipping</p>
                      <br>
                      <div class="mb-3">
                        <button type="button" class="btn btn-outline-dark" (click)="addtocart(item)">
                            Add to cart
                        </button>
                      </div>
                    </div> <!-- info-aside.// -->
                  </aside> <!-- col.// -->
                </div> <!-- row.// -->
              </article>
                        </ng-container>
                    </div>
                    <hr />

                    <!-- ========= content items .// ========= -->
                </main>
                <!-- col .// -->
            </div>
            <!-- row .// -->
        </section>
    </div>
</body>
<app-footer></app-footer>