<!-- looping all products -->
<div
  class="container"
  *ngFor="let item of productsDetail"
  style="margin-top: 70px"
>
  <!-- Checking id which coming from product page click event -->
  <div class="card" *ngIf="item.id == currentId">
    <div class="card-body">
      <h3 class="card-title">{{ item.title }}</h3>

      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-6">
          <div class="white-box text-center">
            <img src="{{ item.image }}" class="img-responsive" />
          </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-6">
          <h4 class="box-title mt-5">Product description</h4>
          <h5 class="card-title">Brand: {{ item.brand }}</h5>
          <p>{{ item.description }}</p>
          <h2 class="mt-5">
            ${{ item.price }}<small class="text-success">(36%off)</small>
          </h2>
          <button class="btn btn-primary btn-rounded" (click)="addtocart(item)">
            Add to Cart
          </button>

          <h3 class="box-title mt-5">Key Highlights</h3>
          <ul class="list-unstyled">
            <li>
              <i class="fa fa-check text-success"></i> 100% Arabica Coffee
            </li>
            <li>
              <i class="fa fa-check text-success"></i> The Pursuit of Perfection
            </li>
            <li><i class="fa fa-check text-success"></i> Roasted by Hand</li>
          </ul>
          <!-- With help of star array adding 5 star according to data from server -->
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item" *ngFor="let star of star">
              <i
                [class]="
                  item.star >= star
                    ? 'fa fa-star text-success'
                    : 'fa fa-star-o text-gray'
                "
              ></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="be-comment-block">
    <h1 class="comments-title">
      Comments ({{ productsDetail[currentId - 1].comment.length }})
    </h1>
    <div
      class="container"
      *ngFor="let items of productsDetail"
      style="margin-top: 70px"
    >
      <div *ngIf="items.id == currentId">
        <div class="container" *ngFor="let item of items.comment">
          <div class="be-comment">
            <div class="be-img-comment">
              <a href="blog-detail-2.html">
                <img
                  src="https://bootdey.com/img/Content/avatar/avatar1.png"
                  alt=""
                  class="be-ava-comment"
                />
              </a>
            </div>
            <div class="be-comment-content">
              <span class="be-comment-name">
                <a href="blog-detail-2.html">{{ item.username }}</a>
              </span>
              <span class="be-comment-time">
                <i class="fa fa-clock-o"></i>
                May 27, 2022 at 3:14am
              </span>

              <p class="be-comment-text">
                {{ item.comment }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="be-comment">
      <div class="be-img-comment">
        <a href="blog-detail-2.html">
          <img
            src="https://bootdey.com/img/Content/avatar/avatar2.png"
            alt=""
            class="be-ava-comment"
          />
        </a>
      </div>

      <form class="form-block">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="form-group fl_icon">
              <div class="icon"><i class="fa fa-user"></i></div>
              <input class="form-input" type="text" placeholder="Your name" />
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 fl_icon">
            <div class="form-group fl_icon">
              <div class="icon"><i class="fa fa-envelope-o"></i></div>
              <input class="form-input" type="text" placeholder="Your email" />
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group">
              <textarea
                class="form-input"
                required=""
                placeholder="Your text"
              ></textarea>
            </div>
          </div>
          <a class="btn btn-primary mx-auto" style="width: 100px">Submit</a>
        </div>
      </form>
    </div>
  </div>
</div>
